#idArea {
    margin-top: 1.5em;
    margin-right: 500px;
}

html,.container-sm {
  font-family: sans-serif;
  font-size: 100%;
}


html {
    font-family: sans-serif;
    font-size: 100%;
  }
  
  .error-box {
    margin-top: 25px;
    font-size: 1em;
    border-radius: 0.25em;
    padding: 1em 1.25em 1.25em;
    color: #ffffff;
    background-color: #b41414;
  }
  
  .error-box h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 0.6em;
    opacity: 0.95;
  }
  
  .error-box p {
    font-size: 1.0em;
    margin: 0 0 0.5em;
    opacity: 0.85;
  }
  
  .error-box:before {
    content: '😒';
    float: right;
    font-size: 2.5em;
    padding: 0.15em 0.3em;
    font-weight: bold;
  }

  .welcomeArea {
    margin-top: 1%;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    color: black;
    position: absolute;
  }

  .registerArea {
    margin-top: 15%;
  }

  .textRegister {
    margin-left: 44%;
    margin-bottom: 10px;
    margin-right: auto;
    color: #1fbe2d;
  }

  

#registerUserBtn {
  margin-top: 15px;
  margin-left: 45%;
}




  
  .success-box {
    margin-top: 25px;
    font-size: 1em;
    border-radius: 0.25em;
    padding: 1em 1.25em 1.25em;
    color: #ffffff;
    background-color: #1fbe2d;
  }
  
  .success-box h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 0.6em;
    opacity: 0.95;
  }
  
  .success-box p {  
    font-size: 1.0em;
    margin: 0 0 0.5em;
    opacity: 0.85;
  }
  
  .success-box:before {
    content: '😆';
    float: right;
    font-size: 2.5em;
    padding: 0.15em 0.3em;
    font-weight: bold;
  }




  .modal {
    display: none; /* gizli default*/
    position: fixed;
    z-index: 1; /*en önde olması için gerekli*/
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,3);
    background-color: rgba(0,0,0,8);
    opacity: 0.9;
  }


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

}

.close {
  color: red;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
}

.close:hover,.close:focus {
  color: gray;
  text-decoration: none;
  cursor:pointer;
  display: inline-block;
}

#abotUser {
  margin-left: 5%;
  color: white;
}

#currentTaxesDiv {
  margin-left: 20%;
  color: white;
}

#successfullPaidTaxes {
  margin-left: 20%;
  color: white;
}

body {
  background-color:slategrey;
}
